* {
    margin: 0;
    padding: 20px;
}
html, body {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica', 'Arial';
}
h3 {text-align: center}
.cont {
    border: 1px solid #999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#container {
    position: absolute;
    margin: 20px;
    background-color: #eee;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}
p {
    text-indent: 2em;
    padding: 0;
    width: 100%;
    line-height: 1.5em;
    font-size: 17px;
    text-align: justify;
}
.left-bar {
    position: relative;
    min-width: 200px;
    background-color: #fff;
}
.center-content {
    min-height: 200px;
    margin: 0 20px;
    background-color: #fff;
}
.right-bar {
    width: 120px;
    min-width: 120px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    background-color: #fff;
}
.team-logo {
    width: 80px;
    height: 80px;
    padding: 0;
    display: inline-block;
    border: 1px solid #999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.team-logo img, .indiv-logo img {
    width: 78px;
    height: 78px;
    padding: 0;
}
.team-name {
    position: absolute;
    display: inline-block;
    top: 20px;
    padding: 0 10px;
    font-size: 20px;
}
.indiv-logo {
    width: 80px;
    height: 80px;
    display: block;
    padding: 0;
    margin-bottom: 18px;
    justify-content: center;
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.right-bar span:last-child {
    margin-bottom: 0;
}
.bt-cont {
    position: fixed;
    left: 0;
    top: 50%;
    width: 100px;
    height: 72px;
    background-color: rgba(154,250,50,.5);
}
button {
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
    #container {
        width: 760px;
    }
    .center-content {
        width: 400px;
    }
}


























