html,body,label,input,a, img,span,h1,h2,h3,h4,h5,h6,div,ul,p{margin:0;padding:0;}
html,body,input,select{
    font-family: "微软雅黑","幼圆"Arial, sans-serif;}
ul{
    list-style: none;
}
body{
    background: #CCCCCC;
}
/*导航栏*/
.header,.footer{
    width:100%;
    height: 60px;
    line-height: 60px;
    background: #000000;
}
.header h1{
    float: left;
    color: #fff;
    margin-left: 50px;
}
.nav{
    float: right;
}
.nav ul{
    overflow: hidden;
}
.nav li{
    float: left;
    height: 60px;
    line-height: 60px;
    list-style: none;
}
.nav li a{
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    margin:0 20px;
}
.nav li a:hover{
    color: #CCCCCC;
}
/*文章样式*/
.page{
    margin:30px;
    padding: 30px 20px;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px #5F5F5F;
}
h2{
    margin:10px auto;
}
h3{
    margin: 15px auto;
    color: #5A5A5A;
}
.author{
    text-indent: 0;
    font-size: 10px;
    color: #8c8c8c;
    margin:10px auto;
}
p{
    text-indent: 30px;
    font-size: 14px;
    line-height: 25px;
}
article img{
    margin: 10px auto;
}
.pageul li{
    height: 25px;
    line-height: 25px;
    text-indent: 30px;
    font-size: 16px;
}
.imghold{
    width: 130px;
    height: 120px;
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid #CCCCCC;
    margin: 20px 50px;
}
.imghold img{
    width: 130px;
    margin-top:10px;
}
/*图片*/
.imghold p{
    line-height: 15px;
}
/*表格*/
table{
    width:100%;
    border-collapse:collapse;
}
th,td{
    border: 1px solid #CCCCCC;
    padding: 5px;
}
th{
    background: #000000;
    text-align: left;
    color: #FFFFFF;
}
tfoot{
    background: #CCCCCC;
    font-weight: bold;
}
/*输入信息页面*/
.aside h2{
    height: 40px;
    line-height: 40px;
    border-left: 4px solid #CCCCCC;
    text-indent: 20px;
}
.inptitle{
    width:30%;
    text-align: right;
    margin-right: 5px;
}
.inptitleheight{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}
.tip{
    margin: 15px auto;
    font-size: 14px;
    color: #999;
}
.aside form>div{
    margin:10px auto;
}
.aside form input,.aside form select{
    height: 24px;
    line-height: 24px;
}
.inlinediv{
    display: inline-block;
}
.submitBtn{
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #ffffff;
    background: #787BF9;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
/*底部*/
footer{
    color: #fff;
    text-align: center;
}