* {margin: 0; padding: 0;}
h2 { margin: 10px 0;}
h3 {
    color: #909090;
    margin: 10px 0;
}
.container {
    position: absolute;
    width: 100%;
    padding-bottom: 60px;
}
footer {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: #fff;
    background-color: #39a090;
}
nav {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #39a090;
}
nav img {
    height: 40px;
    margin: 5px 18px
}
nav ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 14px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 800px) {
    .content {
        width: 800px
    }
}
.content {
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: url('../image/b45.png');
}
.left {
    position: relative;
    float: left;
    margin-right: 420px;
    left: 0;
}
.right {
    position: absolute;
    top: 20px;
    right: 0;
    width: 400px;
    margin-right: 20px;
}
article,aside {
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding: 25px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 4px 2px #CFCFCF;
    background-color: #fff;
}
aside { 
    margin: 0;
}
article header {
    width: 100%;
    height: 75px;
}
article p {
    text-indent: 2em;
    line-height: 1.8em;
    margin: 10px 0;
}
article ul {
    list-style: none;
    text-indent: 1em;
}
article ol {
    margin: 1em 3em;
    font-weight: bold;
}
.pic img {
    width: 300px;
}
.author-time {
    width: 200px;
    height: 20px;
    font-size: 13px;
    color: #C1C1C1;
    padding: 10px 0;
}
.clearfix {
    zoom: 1; /*IE < 8*/
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
    overflow: hidden;
}
figure {
    width: 130px;
    height: 130px;
    margin: 10px 2em;
    padding: 10px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #CFCFCF;
}

figure img { width: 100px; }
.table-container { width: 100%; }
.table-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    text-align: center;
}
.table-container table tr td,
.table-container table tr th {
    border: 1px solid #008161;
    padding: 3px;
}
.table-container table thead tr th {
    background-color: #39a090;
}
.table-container table tfoot td {
    font-weight: bold;
    background-color: #97FFE6;
}
aside h3 {
    border-left: 3px solid #39a090;
    padding: 0 10px;
    color: #000;
}
aside form {
    width: 100%;
    height: 100%;
}
aside form table input {
    height: 25px;
    padding: 3px;
    outline: none;
    border: 1px solid #b6b6b6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
aside form table input:focus { border-color: #55D1FF; }
aside form table {
    width: 100%;
    font-size: 13px;
    display: block;
}
aside form table tbody { 
    width: 100%;
    display: inline-block;
}
aside form table tbody tr { display: block; }
aside form table tr td:first-child {
    width: 35%;
    text-align: right;
}
aside form table tbody tr td { 
    display: inline-block;
    padding: 5px;
}
aside form table tbody tr:last-child td { vertical-align: top; }
aside form table tbody tr td.comments { color: #8A8A8A; }
aside form table tbody input[type='radio'],
aside form table tbody input[type='checkbox'] {
    height: 22px;
    vertical-align: text-top;
}
aside form table tbody label {
    top: 3px;
    position: relative;
}
aside form table textarea {
    width: 100%;
    height: 60px;
    outline: none;
    border: 1px solid #b6b6b6;
}
aside form table textarea:focus { border-color: #55D1FF; }
aside form #submit {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border: 1px solid #008161;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    background-color: #39a090;
    cursor: pointer;
}
